#main-block {
    display: flex;
    flex-direction: row;
    height: 50%;
    max-height: 250px;
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    max-width: 700px;
    align-items: center;
    justify-content: center;
}

.main-block-widget {
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-accent);
    border: 2px solid var(--color-white);
    box-shadow: inset 0 0 0 0 (--color-darker-grey);
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: ease-out .25s;
}

.main-block-widget h3 {
    color: var(--color-white);
}

.main-block-widget:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 var(--color-darker-grey);
    color: var(--color-white);
}

#user-prof-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden; /* Ensures the image doesn't overflow the div's bounds */
    border-radius: 50%; /* Makes the div circular */
    display: flex; /* Aligns the img inside the div */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    border: 2px solid var(--color-border-grey);
}

#user-prof-pic img {
    height: 100%; /* Makes the image fill the div */
    width: auto; /* Maintains the image aspect ratio */
}

#welcome-text {
    position: absolute;
    top: 25%;
    text-align: center;
}